# Set the default behavior for text files to use LF line endings
* text eol=lf

# Specifi files that will always have CRLF line endings
*.sln text eol=crlf

# Declare binary files that should not have line endings modified
*.mkv binary